@{
    ViewBag.Title = "About";
}

<div class="form-small row">
    <form class="public-form">
        <h4 class="text-center">Mood Tracker - Info</h4>
        <hr />
        <div class="col-lg-12">
            <p class="lead">Mood Tracker is an application project for CS630 to track mood of students for various activities.</p>
            <p>You can create activities and record mood at different times during the activity so as to figure out the stress level.</p>
        </div>
    </form>
</div>

