@model IEnumerable<MoodTracker.Entities.ViewModel.ActivityLogViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="recentActivities">
    @foreach (var activityLog in Model)
    {
    <div class="col-lg-3">
        @activityLog.Mood
        <br />
        @activityLog.Note

        @Html.ActionLink("Edit", "edit", new { activityLog.Id })
        @Html.ActionLink("Archive", "archive", new { activityLog.Id })
    </div>
    }
</div>

