@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="form-small row">
    <form class="public-form">
        <h4 class="text-center">Forgot Password Confirmation</h4>
        <hr />
        <div class="col-lg-12">
            Please check your email to reset your password.
        </div>
    </form>
</div>
	
